$white:#FFFFFF;
$light-gray:#E8E9EB;
$gray: #A7A7A7;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue:#050a4b;
$t-color : rgba(201, 80, 0, 0.568);
$port-color: rgb(240, 236, 236);


$oxford-blue:  #0B132B;
$o-blue2:#002855;
$true-blue:#0466C8;
$u-blue:#0353A4;
$space-cadet:#1C2541;
$independence: #3A506B;
$blue-green:#5BC0BE;
$t-blue: #6FFFE9;



