.portfolio{
    text-align: center;
    padding: 1em 0 ;
    
    background: $o-blue2;

    
  
    @include mq{
        height:85vh;
    }

    //    h1{
    //        font-size:3em;
    //    }
    
   

}


.portfolio-items{
    display:flex;
    flex-wrap:wrap;
    
  @include container($max-width:47em);

    



}



.portfolio-item{
    position: relative;
    overflow: hidden;
    flex: 1 1 20rem;
    margin:  0em 0em;
    border: solid 4px $u-blue;
    




    img{
        display:block;
        max-width:  auto;
        height: auto;

        

    
        
        
        
    }

    &:hover , 
    &:focus {
        figcaption{
            top:0 !important;
            background:rgba(19, 28, 39, 0.774);;
        }

       
    }


}

.portfolio-item figcaption {
    position: absolute;
    top:100%;
    bottom:0;
    right:0;
    left:0;
    padding:2em;

    
    

    color:white;
    text-align:left;
    font-size: .2em;
    display:flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
   
   
 

}

.portfolio-title{
    color: $white;
    //font-size: 3.5 em;
    align-self: flex-end;
    margin-bottom: auto;

    .featured & {
     font-size:1 rem;
    }

    
}


.portfolio-desc{
    display:none !important;

}

.portfolio-link{
    color:orange;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;
    &:hover {
        color: rgb(0, 212, 194);
    }

    &::after{
        content: url(../img/arrow2.svg);
        display:inline-block;
        height: 1em;
        width: 1em;
        margin-left: 2em;
        
    }

}



@supports (display:grid){
     
    .portfolio-items{
        display:grid;
        grid-template-columns:  repeat(2, 50%);
        gap: .08em;
        margin-left: 5%;
        object-fit: cover;
        overflow: hidden;
        

        // .portfolio-img4{
        //     //gym img
        //     height:auto;
        //     object-fit: cover;
        // }
        // .portfolio-img3{
        //     height:17em;
        // }
       // @include container($width: 47em);
       
     @include mq($width:768px){   //768
            grid-template-columns: repeat(4, 10.5em);
            grid-template-rows: repeat(2, 11em);
            column-gap: .1em;
            row-gap: .3em;
            padding-left: .91em; 
            padding-right: 1em;           

            justify-content: center;
            @include container($max-width:40);

        
           

           

        }        
    }

    .portfolio-item.featured{
        grid-column:  1/ span
         2;
        grid-row : 1/ span 2;
        
        @include mq($width: 768px){
            img{
                height:100%;
            }
        }

    }


    .portfolio-title{
        font-size: 1.0rem;
    }

    .featured{
        .portfolio-title{
            font-size: 2.2rem;
        }
   
        .portfolio-desc{
           font-size: 1.1rem;
           display: inline !important;
        }


        @include mq($width:768px){
            .portfolio-desc{
                font-size:3.1em;
               
            }
        }
    }



}

.portfolio-modal{
    position:fixed;
    z-index:910;
    top:2em;
    bottom:2em;
    left: 2em; 
    right:2em;

   
    background: rgb(155,154,148);
    background: linear-gradient(21deg, rgba(155,154,148,1) 0%, rgba(255,255,255,1) 50%, rgba(173,252,250,1) 100%);
    border: 5px solid #050505;
    border-radius: 23px;


    box-shadow:  0 0 0 3em rbga (black, .5);
    overflow-y: scroll; 
    overflow-x:hidden;
    border-style: solid;

    display: none;
    color:black;

    &.is-open{
        display:block;


        .container-all{
            overflow-x: hidden !important;
            position: fixed;
    
        }
    
        

    }


    @include mq($width:768px){
        max-width: 95%;
        margin-top: -0.5em;
        margin-left: 1.5em;

    }


}

.modal-close{
    background: white;
    position:fixed;
    left:1em;
    top: 3em;
    border: 0;
    width:2em;
    height:2em;
    padding: 4px 0 0;
    border-radius: 50%;
    box-shadow: 0 0 5px rbga(black, .5);
    cursor: pointer;

    @include mq($width:768px){
        left:2.5em;
        top:1em
    }


}

.portfolio-header{
    text-align : left;
    padding: 5em 0;

    margin-bottom:  2em;
    background-size: cover;
    background-position: center;

    @include mq($width: 768px){
        margin-top:2px;
        
       
        ;
    }
}

.header-one{
    background-image: url(../img/portfolio-01.jpg);
    
 

}

.header-two{
    background-image: url(../img/portfolio-02.jpg);

}


// MODAL ! 
.portfolio-title-box{
    background:rgba(rgb(2, 77, 138), .75);
    padding: 2em 0em 3em 3em;
    color: $white;
    width: 70%;

    //MODAL TITLE
    .portfolio-title{
        
        font-size: 2.2rem; 
        display: inline-blocks;
        
        &::after {
            content: '';
            display:block;
            height: 1px;
            margin: .5em 0;
            background : white;
            width: 100%;
        }
    }


.portfolio-subtitle{
    font-size: .95rem;

     a:hover{
        color: rgb(255, 251, 7);
    }



  
   
}









@keyframes modalIn{
    0% {opacity :0;}
    100% { opacity: 1;}
}


@keyframes modalOut{
    0% {opacity :1;}
    100% { opacity: 0;}
}


}

.portfolio-content{
    text-align: left;
    width: 85%;
    // 
    margin-top: 20px;
    ;
    
    padding-bottom: 2em;

    p{
        padding-left: 13px;
    }

    @include mq($width:768px){
        // @include mq() {
        padding-left: 2px;
        padding-bottom: 15px;
        
        .portfolio-full-width{
            width: calc(84vw - 3em);
            max-width: initial;
            margin: 2em calc(55% - 50vw);
            padding-left: 50px;
            height: 26vh;
            object-fit: cover;
             /* default value: image is centered*/

            @include mq($width: 768px){
                max-width:calc(65vh - 1em);            }
   
        }

.portfolio-pull-right{
    width: 35%;
    float: left;
    margin-left:  16em;
}

.portfolio-pull-left{
    width: 45%;
    float: left;
    margin-left: 12em;
}

// }

    }
   
}




